@import "navbar";
@import "twocol";
@import "header";
@import "footer";


body {
    background-color: #fff;
    font: 16px/1.5 Verdana, Geneva, sans-serif;
    max-height: auto;
    max-width: 100%;
}

#timeis {
    font: 16px/1.5 Verdana, Geneva, sans-serif;
    text-align: center;
}

#flowchart {
    width: 50vh;
}

main {
    max-width: 100%;
    padding: 0.5em;
    border-top: 1px solid #ccc;
    color: #333;
    height: 100%;
}

.main,
.main .article {
    min-height: 25em;
}

article {
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    overflow: auto;
    padding-left: 1em;
    height: 1000px;
}

article h1 {
    border-bottom: 1px solid #ccc;
}

.rep {
    border-bottom: 1px solid #ccc;
}

.rep a {
    color: #333;
}

.rep a:hover {
    color: aquamarine;
}

header {
    border-bottom: 1px solid #ccc;
}

.figure figcaption {
    caption-side: bottom;
    font-style: italic;
    padding-top: 1em;
}

.figure {
    justify-content: center;
    overflow: auto;
}

.quotetext {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.lowerrules {
    display: grid;
    justify-items: center;

}

.numbertext {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: 85% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 100%;
}

@keyframes textclip {
    to {
        background-position: 85% center;
    }
}

li {
    display: flex;
    padding-right: 1%;


}

.card {
    text-align: center;
    padding: 5px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 80px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.startgame {
    border-color: #802323;
    border-radius: 5%;
    height: 5vh;
    color: white;
    background: linear-gradient(to bottom, #633, #000);
}

.startgame:hover {
    background: linear-gradient(to bottom, #000, #633);
    color: #802323;
}



.options {
    border-top: 1px lime;
}


.pseudocode {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f4f4f4;
    color: #333;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    white-space: pre-wrap;
    /* Preserve line breaks */
    overflow-x: auto;
    /* Horizontal scroll */
    max-height: 400px;
    /* Height limit for now */
    line-height: 1.5;
    font-size: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
