{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
<div class="twocol">
      <main class="main">
            <article>
                  <header>   
                     <h2>Om kursen och webbplatsen</h2>   
                  </header>
                  <p>Den här sidan innehåller lite info om mig, själva kursen, och rapporterna
                   jag kommer att lägga upp. Här är en bild som jag tycker är representativ för kursen.</p>
                  <figure class="figure">
                        <img src="img/javascript_logo.png" width="600" class="webimg" alt="Bild som beskriver javascript.">
                        <figcaption>En bild som beskriver javascript.</figcaption>
                  </figure>

            </article>
      </main>
        
            <aside class="aside">
                  <h1> Programmering med Javascript (7,5 hp)</h1>
                  <p>Kursen <strong>Programmering med javascript</strong> a.k.a. js, lär ut programmering och problemlösning med programmeringsspråket JavaScript tillsammans med HTML och CSS i en webbmiljö.
                  Vi startar med att skapa rutiner för problemlösning och felsökning via enkla grundkonstruktioner i språket. Vi bygger upp en utvecklingsmiljö med relevanta verktyg i en webbmiljö. 
                  Vi använder JavaScript tillsammans med HTML och CSS för att skapa klientbaserade webbapplikationer. Du får se hur dessa tekniker samverkar.
                  Via litteraturstudier och praktiska övningar får du möjlighet att lära dig programmeringsspråket JavaScript tillsammans med HTML och CSS. Du lär dig grunderna i att skapa en klientbaserad webbapplikation.
                   I slutet av kursen får du visa dina färdigheter i ett praktiskt programmeringsprojekt. </p>
         
            </aside>

</div>
{% endblock %}