{% extends "base.html.twig" %}

{% block title %}APIs{% endblock %}

{% block body %}
<main>
    <h1>Various APIs</h1>
    <div class= "apitext">
    <a href="{{ path('quote') }}">Quote</a><p>Denna routen leder till en JSON som visar ett slumpmässigt 
    citat.</p>
    <a href="{{ path('api_deck') }}">Deck</a><p>Denna routen leder till en JSON som visar en kortlek sorterad efter färg och valör.
    Notera att UTF-8-bitarna representerar ett UTF-8-kort.</p>



    
    <form method="post" action="">
        <input type="submit" name="Blanda API" value="Blanda API"
        onClick="this.form.action='{{ path('api_shuffle') }}';">
        <p>Den här routen är en POST som blandar och samtidigt nollställer kortleken. En JSON returneras som är den blandade kortleken.</p>
    </form>
    </div>
</main>
{% endblock %}