{% extends "base.html.twig" %}

{% block title %}Drawn card{% endblock %}
{% block body %}
<h1>Dina dragna kort är... </h1>
{%for card in handView %}
    <div class="card">{{ card }}</div>
{% endfor %}
<p>Det finns {{ cardsLeft }} kort kvar i leken.</p>
{% endblock %}