{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}
{% block body %}
<p>There will be some explanation of the classes and an UML diagram 
here shortly. Today's card is.. {{ cardView }}</p>
{% endblock %}