{% extends "base.html.twig" %}

{% block title %}Game documentation{% endblock %}
{% block body %}
<h1>Här ska det bli innehåll för spelets dokumentation.</h1>

<h2>Flowchart som beskriver spelets gång:</h2>
{% endblock %}
