{% extends "base.html.twig" %}

{% block title %}Game documentation{% endblock %}
{% block body %}
<h1>Här ska det bli innehåll för spelets landningssida.</h1>

<a href="{{ path('gamedoc') }}">Se spelets dokumentation</a>
{% endblock %}
