{% extends "base.html.twig" %}

{% block title %}Me-page{% endblock %}

{% block body %}
<main>
    <h1>Lucky number</h1>
    <div class= "numbertext">
    <p>The current lucky number is... {{ number }}</p>
    </div>
</main>
{% endblock %}