
{% extends "base.html.twig" %}

{% block title %}Random quote{% endblock %}

{% block body %}
    <h1>Quote</h1>
    <div class= "quotetext">
    <p>{{ quote }}, Generated {{ datetime }}
    </p>
    </div>
{% endblock %}