{% extends "base.html.twig" %}

{% block title %}Rapporter{% endblock %}

{% block body %}
        
       <div class="twocol" id="reportcontent"> 
    <main class="main">
        <article>
          <h1>Redovisning</h1>
        
        
        
          <h2 id="kmom01">kmom01</h2>

          <p>Objektorientering är föga förvånande en viktig del av programmering, så man lär i princip stöta på det ganska ofta.
          Jag själv har gått kurser kring objektorienterad programmering i både python, c#, och c++. 
          Mycket av PHP:S modell kring objekt och klasser är likt andra programmeringsspråk, alltså att man behöver definiera en klass,
          göra konstruktor, och eventuella metoder. Om man till exempel vill göra en subklass som ärver från en annan klass använder man
          extends. Själva basen och strukturen ser ut mycket som den gör beroende på faktumet att symfony som ramverk används. 
          Det är skönt att ha en "annan" struktur att luta sig tillbaka emot för att göra det enklare att kod körs på en server, och dessutom blir
          CSS-och routing-hanteringen betydligt mycket enklare eftersom symfony tar hand om det själv.
          PHP The Right Way verkar generellt vara en bra resurs och lathund att kolla på om man är osäker på det bästa sättet
          att skriva en speciell bit kod som har ett specifikt syfte, samt även en bra style guide.
          Det jag gärna vill kolla lite närmare på från den artikeln är definitivt säkrehetsdelen, då webbprogrammering utan ett säkerhetstänk
          är riktigt bristfälligt. 
          Mitt TIL för den här uppgiften är: Gör alltid installationer helt korrekt, och fel som kräver ominstallationer tar ofta tid att lösa,
          speciellt om de inte är kopplad till egentliga fel i din egna kod. </p>
        
          <h2 id="kmom02">kmom02</h2>

          <p>Här kommer redovisningstexten för detta kursmoment.</p>

          <h2 id="kmom03">kmom03</h2>

          <p>Här kommer redovisningstexten för detta kursmoment.</p>

          <h2 id="kmom04">kmom04</h2>

          <p>Här kommer redovisningstexten för detta kursmoment.</p>

          <h2 id="kmom05">kmom05</h2>

          <p>Här kommer redovisningstexten för detta kursmoment.</p>

          <h2 id="kmom06">kmom06</h2>

          <p>Här kommer redovisningstexten för detta kursmoment.</p>

          <h2 id="kmom10">kmom10</h2>

          <p>Här kommer redovisningstexten för detta kursmoment.</p>

         


        </article>

    </main>

    <aside class="conttable">
      <h1>Innehåll</h1>
        <ul>
          <li class="rep"><a href="#kmom01">Kmom01</a></li>
          <li class="rep"><a href="#kmom02">Kmom02</a></li>
          <li class="rep"><a href="#kmom03">Kmom03</a></li>
          <li class="rep"><a href="#kmom04">Kmom04</a></li>
          <li class="rep"><a href="#kmom05">Kmom05</a></li>
          <li class="rep"><a href="#kmom06">Kmom06</a></li>
          <li class="rep"><a href="#kmom10">Kmom10</a></li>
        </ul>
    </aside>
  </div>

{% endblock %}